.title {
    font-family: "Sacramento";
    text-decoration: underline var(--gold) 2px;
    color: var(--dark-grey);
}

.about-content {
    font-family: "Give You Glory";
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--dark-grey);
}
