:root {
    --pastel-pink: #f6c3b9;
    --lavender: #c699f8;
    --peach-pink: #f6dedb;
    --sky-blue: #b2c5f4;
    --darker-purple: #aa86d3;
    --indigo-blue: #92a4f7;
    --dark-grey: #5d5d5d;
}

.main-title {
    font-family: "Sacramento";
    text-decoration: underline var(--darker-purple) 2px;
}

.sub-title {
    font-family: "Sacramento";
    font-size: 3.5rem;
    text-decoration: underline var(--darker-purple) 2px;
}
