.title {
    font-family: "Sacramento";
    text-decoration: underline #92a5f765 2px;
    color: var(--dark-grey);
}

.sub-title {
    font-family: "Sacramento";
    font-size: 3.5rem;
    text-decoration: underline #92a5f765 2px;
    color: var(--dark-grey);
}

.about-title {
    font-family: "Give You Glory";
    text-decoration: underline #aa86d3a9 2px;
    color: var(--dark-grey);
}

.about-content {
    font-family: "Give You Glory";
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--dark-grey);
}
