.home-page {
  height: 110vh;
  width: 100vw;
  background-image: url("https://res.cloudinary.com/dceprxjzq/image/upload/v1647915086/Portfolio/illustrated-cover-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
