.home-page {
  height: 105vh;
  width: 100vw;
  background-image: url("https://res.cloudinary.com/dceprxjzq/image/upload/v1648065205/Portfolio/vecteezy-city-park-wooden-bench.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
