@import url("https://fonts.googleapis.com/css2?family=Give+You+Glory&family=Handlee&family=Sacramento&family=Shalimar&display=swap");

:root {
  --cloud-pink: #fcd6c1;
  --sky-pink: #fabc9b;
  --dull-pink: #e6ab90;
  --grass-green: #e0de8c;
  --hill-green: #d0cf4f;
  --tree-green: #626701;
  --dark-grey: #5d5d5d;
  --gold: #D4AF37;
}

body {
  margin: 0;
  background: linear-gradient(to bottom, var(--cloud-pink) 0%, var(--sky-pink) 20%, var(--grass-green) 40%, var(--hill-green) 60%);
  background-size: 400% 400%;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Sacramento', cursive;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%
  }
}

li {
  list-style: none;
  margin: 0rem 1rem;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}